@inject IOptionsSnapshot<BlogSettings> settings
@inject WebManifest manifest
@{
    var host = Context.Request.Scheme + "://" + Context.Request.Host;
}
<!DOCTYPE html>
<html lang="en">
<head prefix="og: http://ogp.me/ns#">
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="@ViewData["Description"]" />
    
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" />
    
    <link rel="preload" href="~/js/site.js" as="script" />
    <link rel="preload" href="~/css/cirrus.min.css" as="style" />

    @RenderSection("Preload", required: false)
    <meta property="og:type" content="article" />
    <meta property="og:title" content="@ViewData["Title"]" />
    <meta property="og:description" content="@ViewData["Description"]" />
    <meta property="og:url" content="@(host + Context.Request.Path)" />
    <meta property="og:image" content="@host/img/icon512x512.png" />
    <meta property="og:image:width" content="512" />
    <meta property="og:image:height" content="512" />

    <meta name="msapplication-square150x150logo" content="~/img/icon180x180.png" />

    <link rel="icon" type="image/png" sizes="16x16" href="~/img/icon16x16.png" />
    <link rel="apple-touch-icon" href="~/img/icon180x180.png" />
    <link rel="shortcut icon" href="~/img/icon16x16.png" />

    <link rel="edituri" type="application/rsd+xml" title="RSD" href="~/rsd.xml" />
    <link rel="alternate" type="application/rss+xml" href="~/feed/rss/" />
    <link rel="alternate" type="application/atom+xml" href="~/feed/atom/" />
    @RenderSection("Head", required: false)
</head>
<body itemscope itemtype="http://schema.org/WebPage">
    
<space class="large"></space>
    
    <header>
        <div class="content">
            <h1 itemprop="name"><a class="u u-C" href="~/">@manifest.Name</a></h1>
            <p class="author">By @settings.Value.Owner</p>
            <div class="divider"></div>
        </div>
    </header>

<main itemprop="mainEntity" itemscope itemtype="http://schema.org/Blog">
    <noscript>
        <p class="container">Some features of this website do not work as expected when JavaScript is disabled</p>
    </noscript>
    @RenderBody()
</main>

<footer>
    <h3 class="white uppercase" itemprop="name">@manifest.Name</h3>
    <div class="content">
        <div class="divider"></div>
        <nav>
            <ul class="no-bullets">
                @{
                    string path = Context.Request.Path;

                    if (User.Identity.IsAuthenticated)
                    {
                        <li><a asp-controller="Blog" asp-action="Edit">New post</a></li>
                        <li><a class="btn-primary" href="~/logout/" title="Sign out as administrator">Sign out</a></li>
                    }
                    else
                    {
                        <li><a class="btn btn-info" href="~/login/?returnUrl=@path" rel="nofollow" title="Sign in as administrator">Sign in</a></li>
                    }
                }
            </ul>
        </nav>
    </div>
    <p>Powered by <a href="https://github.com/rr222cy/NetCoreSlimBlog" rel="noopener noreferrer" target="_blank">NetCoreSlimBlog</a></p>
</footer>

<!-- This lazy loads the stylesheet in a non-render blocking way -->
    <link rel="preload" href="~/css/belowthefold.scss" as="style" />
    <noscript><link rel="stylesheet" href="~/css/belowthefold.scss" /></noscript>

    <script src="~/js/site.js" async defer></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
